.frame {
    /* border: 15px solid var(--theme-color); */
    width: 100%;
    display: flex;
}

.top-menu-bar {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 45px;
    display: flex;
    font-size: 19px;
    font-weight: 500;
    box-shadow: var(--theme-shadow);
    filter: blur(0);
    z-index: 120;
}
.top-menu-bar div {
    /* background-color: white; */
    display: flex;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.top-menu-text {
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
}

.menu-box {
    width: 100%;
    text-align: center;
    margin-top: 8vh;
    padding: 2vh;
}

.title {
    position: relative;
    height: 70px;
    font-size: 70px;
    font-weight: 500;
    top: 0px;
    transition: font-size .5s, top .5s;
}
.title-min {
    font-size: 40px;
    /* position: relative; */
    top: -3vh;
}

.label1 {
    color: white !important;
    font-size: 35px;
    font-weight: 500;
    margin: 20px auto 0px auto;
    padding: 3px;
    width: 190px;
    height:45px;
    /* border: 2px solid white; */
    border-radius: 55px;
    line-height: 36px;
    background-color: rgb(34, 34, 34);
    transition: background-color 0.3s, 
                width 0.3s;
}
.label1:hover {
    cursor: pointer;
    background-color: var(--theme-color);
    color: #202124 !important;
    width: 210px;
    box-shadow: var(--theme-shadow);
}
.label1:active {
    background-color: var(--theme-color2);
}
.label2 {
    font-size: 45px;
    font-weight: 500;
    margin: 15vh auto 0px auto;  
    transition: color 0.5s;
}
.label3 {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
    margin: 12px 30px 0 0;
    border: 1px solid var(--theme-color);
    background-color: white;
    border-radius: 57px;
    padding: 0 20px;
    width: 200px;
    height: 45px;
    transition: border 0.2s, color 0.2s;
}
.label3:hover {
    box-shadow: var(--theme-shadow);
    cursor: pointer;
}
.level-box {
    display: inline-block;
    margin-left: 30px;
}  

.popup-box {
    z-index: 100;
    width: 300px;
    height: 180px;
    position: fixed;
    transform: translate(-50%);
    left: 50%;
    top: 35%;
    background-color: black;
    border: 6px solid rgb(175, 175, 175);
    border-radius: 15px;
    text-align: center;
    padding: 33px 0 0 55px;
}

.body-frame {
    border: 7px solid var(--theme-color2);
    border-radius: 16px;
    margin-top: 8vh;
    box-shadow: 0px 0px 8px 2px var(--inactive-color);
    filter: blur(0);
    transition: filter 2s;
}
.active {}
.non-active {}
.removed {
    /* display: none; */
    /* background-color: black !important;
    border: 0px solid !important; */
}
/* .block-color1 {background-color: #01c0fa; border: 0px solid white;}
.block-color2 {background-color: #4453ff; border: 0px solid white;}
.block-color3 {background-color: #ffa500; border: 0px solid white;}
.block-color4 {background-color: #ff0000; border: 0px solid white;}
.block-color5 {background-color: #27ff00; border: 0px solid white;}
.block-color6 {background-color: #f3ff33; border: 0px solid white;}
.block-color7 {background-color: #d800ff; border: 0px solid white;} */

/* .block-color1 {background-image: radial-gradient( #01c0fa 40%, white);}
.block-color2 {background-image: radial-gradient( #4453ff 40%, white);}
.block-color3 {background-image: radial-gradient( #ffa500 40%, white);}
.block-color4 {background-image: radial-gradient( #ff0000 40%, white);}
.block-color5 {background-image: radial-gradient( #27ff00 40%, white);}
.block-color6 {background-image: radial-gradient( #f3ff33 40%, white);}
.block-color7 {background-image: radial-gradient( #d800ff 40%, white);} */

/* .block-color1 {
    background-color: #01c0fa95;
    background-image:
    linear-gradient(-45deg, #01c0fa80 50%, transparent 50%),
    linear-gradient(45deg, #01c0fa80 50%, transparent 50%);
    background-size: 100% 100%;
} */
.block-color1 {
    background-color: #01c0fa65;
    background-image:
    linear-gradient(-45deg, #01c0fa80 50%, transparent 50%),
    linear-gradient(45deg, #01c0fa80 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color2 {
    background-color: #4453ff95;
    background-image:
    linear-gradient(-45deg, #4453ff80 50%, transparent 50%),
    linear-gradient(45deg, #4453ff80 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color3 {
    background-color: #ffa50085;
    background-image:
    linear-gradient(-45deg,  #ffa50080 50%, transparent 50%),
    linear-gradient(45deg, #ffa50080 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color4 {
    background-color: #ff000085;
    background-image:
    linear-gradient(-45deg, #ff000080 50%, transparent 50%),
    linear-gradient(45deg, #ff000080 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color5 {
    background-color: #27ff0085;
    background-image:
    linear-gradient(-45deg, #27ff0080 50%, transparent 50%),
    linear-gradient(45deg, #27ff0080 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color6 {
    background-color: #ffee0085;
    background-image:
    linear-gradient(-45deg, #ffee0095 50%, transparent 50%),
    linear-gradient(45deg, #ffee0095 50%, transparent 50%);
    background-size: 100% 100%;
}
.block-color7 {
    background-color: #d900ff95;
    background-image:
    linear-gradient(-45deg, #d900ff60 50%, transparent 50%),
    linear-gradient(45deg, #d800ff60 50%, transparent 50%);
    background-size: 100% 100%;
}


.score {
    font-weight: 500;
    font-size: 20px;
    margin-top: 9vh;
    height: 50px;
    color: var(--theme-color);
}
.combo {
    position: fixed;
    left: 50%;
    top: 16vh;;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 30px;
    opacity: .9;
    transition: opacity 0.5s;
    display: flex;
    z-index: 100;
}
.combo-number {
    font-size: 50px;
    color: var(--theme-color2);
    margin-right: 10px;
    line-height: 35px;
    text-shadow: 0 0 5px var(--inactive-color);
}
.game-over {
    font-weight: 500;
    font-size: 62px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
    z-index: 20;
    opacity: 0;
    transition: opacity 2s;
}

.rank-wrapper {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    transition: transform .3s, left .3s;
}
.rank-box {
    height: 50vh;
    width: 700px;
    overflow-y: auto;
    border-bottom: 2px solid #5e5e5e;
    border-radius: 5px;
}
.rank-row {
    border: 1px solid var(--theme-color);
    border-radius: 7px;
    padding: 10px;
    width: 630px;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-size: 15px;
    transition: border .9s, 
                background-color .9s;
}
.rank-row:hover {
    cursor: pointer;
    box-shadow: var(--theme-shadow);
}
.rank-rank {
    width: 50px;
}
.rank-name {
    width: 180px;
}
.rank-score {
    width: 120px;
}
.rank-date {
    width: 240px;
}
.rank-header {
    margin-top: 20px;
    /* margin: 30px 0 0 50px; */
    font-size: 23px;
    font-weight: bold;
    display: flex;
    position: relative;
    left: 50%;
    width: 640px;
    color: var(--theme-color);
    /* border: 1px solid; */
    transform: translateX(-50%);
    text-align: center;
}
.rank-top {
    border: 1px solid #ffd900 !important;
    background-color: var(--theme-color2);
}

.rank-his-box {
    height: 50vh;
    width: 370px;
    overflow-y: auto;
    border-bottom: 2px solid #5e5e5e;
    border-radius: 5px;
}
.rank-his-header {
    margin: 20px auto 0 auto;
    font-size: 20px;
    width: 330px;
    font-weight: bold;
    display: flex;
    color: var(--theme-color);
}
.rank-his-row {
    border: 1px solid var(--theme-color);
    border-radius: 7px;
    padding: 10px;
    width: 300px;
    margin: 10px auto 0px auto;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    font-size: 15px;
}
.btn-x {
    width: 35px;
    font-size: 23px;
    color: var(--inactive-color);
}
.btn-x:hover {
    cursor: pointer;
    text-shadow: 0px 0px 2px gray;
}

.input-box {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    width: 350px;
    height: 250px;
    position: fixed;
    left: 50%;
    top: 35.5%;
    transform: translateX(-50%);
    background-color: black;
    border: 6px solid rgb(175, 175, 175);
    border-radius: 15px;
    text-align: center;
}
.input-box > .input-row {
    display: flex;
    margin-top: 10px;
}
.input-row > .input-text {
    width : 130px;
    text-align: right;
    margin-right: 15px;
} 
.input-box > .label3 {
    width: 100px;
    height: 38px;
    margin: 18px auto 0 auto;
    font-size: 25px;
}

.toast {
    z-index: 999;
    position: absolute;
    left: 17%;
    top: 233px;
    height: 23px;
    width: 230px;
    border-radius: 4px;
    color: rgb(255, 97, 97);
    /* background-color: rgb(105, 105, 105); */
    font-weight: bold;
    font-size: 14px;
    visibility: hidden;
}
.label-disabled {
    color: #757575;
}
.label-disabled:hover {cursor: none}

.footer {
    width: 100%;
    position: fixed;
    display: flex;
    bottom: 0px;
    background-color: var(--theme-color2);
    box-shadow: var(--theme-shadow);
    z-index: 120;
}
.footer > div {
    font-size: 18px;
    font-weight: 500;
}
.footer-noti-text {
    width: 80px;
    text-align: center;
    background-color: var(--theme-color2);
    /* box-shadow: var(--theme-shadow); */
    z-index: 1;
}

.mainbody-side-btn {
    position: relative;
    font-size: 20px;
    left: 110%;
    top: -15%;
    transform: translateX(0);
    width: 90px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    transition: left .9s, top .9s, transform .9s,
                width .9s, height .9s;
}
.mainbody-side-btn-move {
    left: 50%;
    top: -40%;
    width: 150px;
    height: 50px;
    font-size: 23px;
    line-height: 45px;
    transform: translateX(-50%);
}

.setting-box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 700px;
    height: 450px;
    margin-bottom: 30px;
    overflow-y: auto;
    box-shadow: 0 0 15px -6px var(--inactive-color);
    border-radius: 30px;
    padding: 20px;
}

.keyset-box {
    display: flex;
    text-align: center;
}
.keyset-box > div {
    width: 100%;
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 18px;
}
.key-btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    font-weight: 500;
    font-size: 60px;
    line-height: 80px;
    border: 1px solid var(--theme-color);
    border-radius: 15px;
    margin-top: 10px;
}
.key-btn:hover {
    cursor: pointer;
    box-shadow: var(--theme-shadow);
}
.key-btn-sel {
    background-color: var(--theme-color);
    border: 1px solid var(--theme-color);
    box-shadow: var(--theme-shadow);
    animation-name: blink;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.setting-btn {
    display: flex;
    position: relative;
    left: 50%;
    top: 18%;
    width: fit-content;
    transform: translateX(-50%);
}
.setting-msg {
    position: relative;
    font-weight: 500;
    width: 150px;
    color: var(--theme-color);
}
