.welcome-page {
    width: 100%;
    overflow: hidden;
    background-color: white;
    color: black;
}
.welcome-title {
    top: -120px;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
}
.login-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 25px -10px rgb(44, 44, 44);
    /* font-weight: bold; */
}
.login-box div, .login-box input {position: relative;}
.login-text {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    top: -70px;
}
.signin-text {
    text-align: center;
    top: -5px;
    font-size: 18px;
}
.signin-text span[data-name] {
    color: var(--theme-color);
    font-weight: bold;
}
.signin-text span:hover[data-name] {
    text-decoration: underline;
    cursor: pointer;
}
.input-login {
    top: -30px;
    display: flex;
    color: black;
    margin-top: 6px;
    height: 35px;
}
.input-login > input {
    left: 50%;
    transform: translateX(-50%);
    caret-color: var(--theme-color);
    border: 1px solid #bdbdbd;
    border-radius: 50px;
    padding: 7px 7px 7px 15px;
    width: 222px;
    height: 35px;
    color: var(--inactive-color);
    box-sizing: border-box;
}
.input-login > input:hover {
    border: 1px solid var(--theme-color);
    box-shadow: 0px 0px 8px -2px var(--theme-color);
}
.input-login > input:focus {
    border: 1px solid var(--theme-color);
    box-shadow: 0px 0px 8px -2px var(--theme-color);
}
.input-login > input::placeholder {
    color: var(--inactive-color);
    padding: 5px;
}
.login-button {
    position: relative;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50px;
    padding: 7px 7px 7px 15px;
    width: 200px;
    margin-top: 6px;
    color: white;
    background-image: linear-gradient(-45deg, var(--theme-color2), var(--theme-color));
    font-weight: bold;
}
.login-button:hover {
    cursor: pointer;
    box-shadow: var(--theme-shadow);
}

.warn-input {
    box-shadow: 0px 0px 8px -2px var(--warn);
    border: 1px solid var(--warn) !important;
}
.warn-msg {
    color: var(--warn);
    position: relative;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    height: 20px;
    top: -24px;
}