div#root {
    width: 100%;
    height: 100vh;
}
:root {
    /* --theme-color : #47c1c0;
    --theme-color2 : #00f6a7; */
    --theme-color : #59b4ff;
    --theme-color2 : #b3ff00;
    --inactive-color : rgb(175, 175, 175);
    --warn : rgba(255, 70, 64, 0.76);
    --dot-size : 18px;
    --theme-shadow : 0px 0px 8px 0px var(--inactive-color);
    
    --theme-black : #7a7a7a;
    --theme-black2 : #4b4b4b;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    background-color: grey;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
}
.text-theme {
    background: linear-gradient(90deg, var(--theme-color2), var(--theme-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.background-theme {
    background-image: linear-gradient(120deg, var(--theme-color2), var(--theme-color));
}
input {
	-webkit-appearance: none !important;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}
*,*:focus,*:hover{outline:none;}
.no-drag, div, span {
    -ms-user-select: none;
    -moz-user-select: -moz-none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    user-select:none;
}
.blue-purple {
    background-color: rgba(165, 210, 255, .4);
    background-image:
    linear-gradient(-45deg, rgba(102, 179, 255, 0.4) 50%, transparent 50%),
    linear-gradient(45deg, rgba(196, 190, 255, 0.2) 50%, transparent 50%);
    background-size: 100% 100%;

    color: rgb(173, 144, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.light {
    background-color: #f5f5f5;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
}
.dark {
    background-color: #363636;
    color: white ;
}
.dark-el {
    background-color: var(--theme-black) !important;
}

.areaBox {
    border : 1px solid rgb(255, 113, 113);
    background-color : rgba(255, 0, 0, 0.274);
}

.selected {
    border : 2px solid red !important;
    transition: left 0.5s, top 0.5s;
}

.modal-back{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 500;
    background-color: rgba(0, 0, 0, 0.315);
}
.mask {
    position: fixed;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    /* border: 1px solid; */
}
.mask > div {
    z-index: 101;
    position: fixed;
    width: var(--dot-size);
    height: var(--dot-size);
    border-radius: 50px;
    /* box-shadow: 3px 1px 0px rgb(203 203 203); */
}

.dotcol-1 {background-color: #b3ff00 !important;}
.dotcol-2 {background-color: #b3ff0090 !important;}
.dotcol-3 {background-color: #b3ff0080 !important;}
.dotcol-4 {background-color: #b3ff0070 !important;}
.dotcol-5 {background-color: #b3ff0060 !important;}
.dotcol-6 {background-color: #b3ff0050 !important;}
.dotcol-7 {background-color: #b3ff0020 !important;}
.dotcol-8 {background-color: #b3ff0010 !important;}

.dot1 {left: 50%; transform: translate(calc(-50% + var(--dot-size) + 10px), calc(var(--dot-size) + 50px));}
.dot2 {left: 50%; transform: translate(calc(-50% + var(--dot-size) + 20px), calc(var(--dot-size) + 25px));}
.dot3 {left: 50%; transform: translate(calc(-50% + var(--dot-size) + 10px), calc(var(--dot-size) + 0px));}
.dot4 {left: 50%; transform: translate(-50%, 5px);}
.dot5 {left: 50%; transform: translate(calc(-50% - var(--dot-size) - 10px), calc(var(--dot-size) + 0px));}
.dot6 {left: 50%; transform: translate(calc(-50% - var(--dot-size) - 20px), calc(var(--dot-size) + 25px));}
.dot7 {left: 50%; transform: translate(calc(-50% - var(--dot-size) - 10px), calc(var(--dot-size) + 50px));}
.dot8 {left: 50%; transform: translate(calc(-50%), calc(var(--dot-size) + 63px));}

.dialog {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 2px #909090;
}
.dialog div[class=dialog-msg-box] {
    position: relative;
    top: 30%;
    text-align: center;
    color: rgb(165, 165, 165);
    font-weight: 500;
}
.dialog div[class=dialog-btn-box] {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: fit-content;
}
.dialog div[class=dialog-btn-1] {
    position: relative;
    width: 70px;
    height: 30px;
    color: white;
    font-weight: 500;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    background-image: linear-gradient(-45deg, var(--theme-color2), var(--theme-color));
}
.dialog div[class=dialog-btn-1]:hover {
    cursor: pointer;
    box-shadow: var(--theme-shadow);
}

.basic-btn-1 {
    color: white;
    padding: 0 15px;
    height: 30px;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
    padding: 0 10px;
    background-image: linear-gradient(-45deg, var(--theme-color2), var(--theme-color));
}
.basic-btn-1:hover {
    cursor: pointer;
    box-shadow: var(--theme-shadow);
}

.basic-btn-2 {
    color: white !important;
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
    margin: 0 2px;
    height:30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(34, 34, 34);
    transition: background-color 0.3s, 
                padding 0.3s;
}
.basic-btn-2:hover {
    cursor: pointer;
    background-color: var(--theme-color);
    color: #202124 !important;
    /* padding: 0 20px; */
    box-shadow: var(--theme-shadow);
}
.basic-btn-3 {
    font-size: 18px;
    font-weight: 500;
    padding: 0 15px;
    margin: 0 2px;
    height:30px;
    width: fit-content;
    line-height: 28px;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--theme-color);
}
.basic-btn-3:hover {
    cursor: pointer;
    box-shadow: var(--theme-shadow);
}
.pusher {
    margin : 0 auto;
}
@keyframes blink {
    0% {color: white;}
    50% {color: var(--inactive-color)}
    100% {color: white;}
}
@keyframes move-left {
    0% {left: 100%;}
    100% {left: -1300px;}
}
.ani-move-left {
    position: relative;
    animation-name: move-left;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.search-wrap {
    box-shadow: 0px 0px 8px 0px gray;
}
.search-bar {
    display: flex;
    width: 240px;
    /* position: relative;
    left: 50%;
    transform: translateX(-50%); */
    
}
.input-search {
    caret-color: var(--theme-color);
    border: 1px solid var(--inactive-color);
    /* border-radius: 20px; */
    padding: 7px 7px 7px 15px;
    width: 200px;
    height: 30px;
    color: var(--inactive-color);
    box-sizing: border-box;
}
.input-search:hover {
    border: 1px solid var(--theme-color2);
    box-shadow: 0px 0px 8px -2px var(--theme-color2);
}
.input-search:focus {
    border: 1px solid var(--theme-color2);
    box-shadow: 0px 0px 8px -2px var(--theme-color2);
}
.input-search::placeholder {
    color: var(--inactive-color);
    padding: 2px;
}
.search-btn {
    height: 30px;
    width: 40px;
    text-align: center;
    color: white;
    background-color: var(--inactive-color);
    line-height: 28px;
}
.search-btn:hover {
    background-color: var(--theme-color2);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px var(--theme-color2);
}
.search-btn:active {
    background-color: #92d100;
    cursor: pointer;
}

.combobox {
    width: 100px;
    height: 30px;
    padding: 5px;
    border: 1px solid var(--inactive-color);
    color: var(--inactive-color);
    box-sizing: border-box;
}
.combobox:hover {
    cursor: pointer;
    border: 1px solid var(--theme-color2);
    box-shadow: 0px 0px 8px -2px var(--theme-color2);
}
.combobox:focus {
    border: 1px solid var(--theme-color2);
    box-shadow: 0px 0px 8px -2px var(--theme-color2);
}

.panel-box {
    border: 1px solid var(--inactive-color);
    border-radius: 25px;
    height: 100%;
}
.panel-box:hover {
    box-shadow: 0 0 15px -6px var(--inactive-color);
    /* border-color: transparent; */
}
.panel-box > .panel-title {
    transform: translate(0, -50%);
    color: var(--theme-color);
    background-color: white;
    padding: 0 10px;
    margin-left: 20px;
    width: fit-content;
    height: 28px;
    line-height: 24px;
    font-size: 21px;
    font-weight: bold;
    border-radius: 15px;
}
.panel-box > .panel-content {
    padding: 10px;
    height: calc(100% - 50px);
}
.x-center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}